<h1>Account Details</h1>
<% render 'form' %>
<p id="notice"><%= notice %></p>

<%= image_tag @user.photo.url(:small) %>

Username: <%= @user.username %>
<br />
Real Name: <%= @user.real_name %>
<br />
Email: <%= @user.email %> 